<div style="width:50%;padding-top:20%;margin:auto">
  <div class="form-group">
    <label for="usr">User Name:</label>
    <input type="text" #user class="form-control" id="usr">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" #password class="form-control" id="pwd">
  </div>

  <div class="row">
    <div class="col-sm-4"> <button (click)="signin(user.value,password.value)">Login</button></div>
    <div class="col-sm-8" style="margin:auto"> <p style="color:blue;margin:auto"(click)="signup()">Create a Account</p></div>
  </div>


  <div>
    <button (click)="formValidation()">Form Validation</button>
  </div>

  <div>
    <button (click)="formng2()"> ng2 Validation</button>
  </div>
 
</div>

login part a