<div style="width:50%;padding-top:20%;margin:auto">
  <div class="form-group">
    <label for="fullname">Full Name:</label>
    <input type="text" #fullname class="form-control" id="fullname">
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" #emailid class="form-control" id="email">
  </div>
  
  <div class="form-group">
    <label for="pass">Password:</label>
    <input type="text" #pass class="form-control" id="pass">
  </div>

  <div class="form-group">
    <label for="reppass">Repeat Password:</label>
    <input type="text" #reppass class="form-control" id="reppass">
  </div>

  <button (click)="register()">Register</button>
</div>
